In [19]:
import numpy as np
import pandas as pd
import seaborn as sns
import tensorflow as tf

In [2]:
df = pd.read_csv("jobPlacement.csv")

In [3]:
df.head()
print(df.columns)

Index(['gender', 'ssc_percentage', 'ssc_board', 'hsc_percentage', 'hsc_board',
       'hsc_subject', 'degree_percentage', 'undergrad_degree',
       'work_experience', 'emp_test_percentage', 'specialisation',
       'mba_percent', 'status'],
      dtype='object')

In [4]:
df.drop(df.columns[[0, 2,  3, 4, 7, 8, 9, 10]], axis=1, inplace=True)

In [5]:
df.head()

   ssc_percentage hsc_subject  degree_percentage  mba_percent      status
0           67.00    Commerce              58.00        58.80      Placed
1           79.33     Science              77.48        66.28      Placed
2           65.00        Arts              64.00        57.80      Placed
3           56.00     Science              52.00        59.43  Not Placed
4           85.80    Commerce              73.30        55.50      Placed

In [6]:
df.shape

(215, 5)

In [7]:
df.describe()

       ssc_percentage  degree_percentage  mba_percent
count      215.000000         215.000000   215.000000
mean        67.303395          66.370186    62.278186
std         10.827205           7.358743     5.833385
min         40.890000          50.000000    51.210000
25%         60.600000          61.000000    57.945000
50%         67.000000          66.000000    62.000000
75%         75.700000          72.000000    66.255000
max         89.400000          91.000000    77.890000

In [8]:
df['hsc_subject'].unique()

array(['Commerce', 'Science', 'Arts'], dtype=object)

In [9]:
df.columns

Index(['ssc_percentage', 'hsc_subject', 'degree_percentage', 'mba_percent',
       'status'],
      dtype='object')

In [10]:
df.duplicated().sum()

0

In [11]:
df.isnull().sum()

ssc_percentage       0
hsc_subject          0
degree_percentage    0
mba_percent          0
status               0
dtype: int64

In [12]:
x = df.iloc[:, :-1].values
y = df.iloc[:,-1].values
y = y.reshape(y.shape[0], -1)

In [13]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['hsc_subject'] = le.fit_transform(df['hsc_subject'])
df['status'] = le.fit_transform(df['status'])

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
cols_to_sc = ['ssc_percentage', 'hsc_subject', 'degree_percentage', 'mba_percent']
df[cols_to_sc] = sc.fit_transform(df[cols_to_sc])

In [16]:
df.head()

   ssc_percentage  hsc_subject  degree_percentage  mba_percent  status
0       -0.028087    -0.641955          -1.140102    -0.597647       1
1        1.113369     1.083298           1.513267     0.687620       1
2       -0.213238    -2.367207          -0.322843    -0.769474       1
3       -1.046417     1.083298          -1.957362    -0.489396       0
4        1.712332    -0.641955           0.943909    -1.164676       1

In [17]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=20)

In [21]:
#Creation of ANN object
ann = tf.keras.models.Sequential()

In [22]:
#Creation of Hidden layers:
ann.add(tf.keras.layers.Dense(units=6, activation="relu"))
ann.add(tf.keras.layers.Dense(units=6, activation="relu"))

In [23]:
#Creating output layer:
ann.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

In [24]:
#Compiling ann:
ann.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])

In [26]:
#Fitting and Training ann:
ann.fit(X_train, y_train, batch_size = 100, epochs=10)